body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  font-weight: 400;
  font-size: 15px;
  color: #2d3236;
}

nav,
section {
  width: 100%;
}

.row {
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 0;
}

.xl-title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
}

.lg-title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}

.description {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 44px;
}

@media screen and (max-width: 574px) {
  .row {
    padding: 40px 20px;
  }
  .xl-title {
    padding-bottom: 10px;
  }
  .description {
    line-height: 150%;
  }
}

.nav {
  background-color: #fff;
  padding: 5px 0;
}

.nav .row {
  padding: 5px 0;
}

.nav .logo {
  display: block;
}

@media screen and (max-width: 574px) {
  .logo {
    padding-left: 10px;
    width: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .logo {
    padding-left: 10px;
  }
}

.box {
  margin: 0;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  min-height: 235px;
}

.box-title {
  margin: 5px 0;
  font-size: 20px;
  color: #2d3236;
}

.box-description {
  margin: 10px 0;
  font-size: 15px;
  line-height: 25px;
  color: gray;
}

@media screen and (max-width: 324px) {
  .box {
    height: 100%;
  }
}

@media screen and (max-width: 574px) {
  .box {
    padding: 40px 20px;
    height: 100%;
    min-height: 305px;
  }
}

.heading-one {
  position: relative;
  background-color: #215398;
  color: #fff;
}

.heading-one .description {
  color: #a6bad6;
}

@media screen and (max-width: 324px) {
  .heading-one .box {
    padding: 20px;
  }
  .heading-one .box-description {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

.slider {
  width: 100%;
  padding: 0 70px;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-next {
  right: 40px;
  color: #28a9e0;
}

.slick-next:before {
  content: "m";
  color: transparent;
  background: url(../images/arrow-right.png) center/cover no-repeat;
}

.slick-prev {
  left: 40px;
  color: #28a9e0;
}

.slick-prev:before {
  content: "m";
  color: transparent;
  background: url(../images/arrow-left.png) center/cover no-repeat;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media screen and (max-width: 1199px) {
  .slider {
    padding: 0 60px;
  }
  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}

@media screen and (max-width: 574px) {
  .slider {
    padding: 0 20px;
  }
  .slick-next {
    right: -15px;
  }
  .slick-prev {
    left: -15px;
  }
}

/*# sourceMappingURL=style.css.map */