.box {
    margin: 0;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    min-height: 235px;
    
    &-title {
        margin: 5px 0;
        font-size: 20px;
        color: rgba(45, 50, 54, 1);
    }
    
    &-description {
        margin: 10px 0;
        font-size: 15px;
        line-height: 25px;
        color: rgba(128, 128, 128, 1);
    }
}

// RWD
//-----------------------------------------------------
@include mediaX {
    .box {
        height: 100%;
    }
}

@include mediaXx {
    .box {
        padding: 40px 20px;
        height: 100%;
        min-height: 305px;
    }
}