// Section ---
.heading-one {
    position: relative;
    background-color: $third-color;
    color: #fff;
    
    .description {
        color: $fourth-color;
    }
}

// RWD
//-----------------------------------------------------
@include mediaX {
    .heading-one {
        .box {
            padding: 20px;
        }
        
        .box-description {
            font-size: 12px;
        }
    }
}